---
import ReactJS from "./icons/React.astro";
import AstroIcon from "./icons/AstroIcon.astro";
import Tailwind from "./icons/Tailwind.astro";
import SocialPill from "./SocialPill.astro";
import Link from "./icons/Link.astro";
import GitHub from "./icons/GitHub.astro";
import Nextjs from "./icons/NextJS.astro";
import Postgre from "./icons/Postgre.astro";
import Docker from "./icons/Docker.astro";
import Prisma from "./icons/Prisma.astro";

const TAGS = {
  REACT: {
    name: "React",
    class: "bg-[#3498DB] text-white",
    icon: ReactJS,
  },
  NEXTJS: {
    name: "Nextjs",
    class: "bg-black text-white",
    icon: Nextjs,
  },
  ASTRO: {
    name: "Astro",
    class: "bg-black text-white",
    icon: AstroIcon,
  },
  TAILWIND: {
    name: "Tailwind",
    class: "bg-[#003159] text-white",
    icon: Tailwind,
  },
  POSTGRESQL: {
    name: "PostgreSQL",
    class: "bg-blue-900 text-white",
    icon: Postgre,
  },
  DOCKER: {
    name: "Docker",
    class: "bg-sky-900 text-white",
    icon: Docker,
  },
  PRISMA: {
    name: "Prisma",
    class: "bg-slate-900 text-white",
    icon: Prisma,
  },
};
const PROJECTS = [
  {
    title: "Inventory System",
    description:
      "I developed a multitenant SaaS Inventory System that allows businesses to efficiently manage their products, users, and suppliers. I used Next.js, Tailwind CSS, Prisma, and PostgreSQL to create a scalable application with a modern design. I implemented advanced filtering, movement history, and role-based access control, ensuring a smooth and optimized experience on Vercel.",
    credentials: `Login credentials: 
    Email: user@google.com, 
    Password: 12345678`,
    link: "https://testcompany.inventary-app-test.lat/dashboard",
    github: "https://github.com/Alexcab24/GIFStickerSearching",
    image: "/projects/inventory-system.png",
    tags: [
      TAGS.NEXTJS,
      TAGS.TAILWIND,
      TAGS.POSTGRESQL,
      TAGS.DOCKER,
      TAGS.PRISMA,
    ],
  },
  {
    title: "InfoHeroes-Blog",
    description:
      '"InfoHeroes-Blog" is a web project that presents basic information about Marvel and DC superheroes in a comic-inspired design. Developed with Astro and Tailwind, it offers detailed character profiles with intuitive navigation. This project showcases my ability to effectively create themed websites.',
    link: "https://info-heroes-blog.netlify.app/",
    github: "https://github.com/Alexcab24/Info-heroes-blog",
    image: "/projects/Infoheroes.png",
    tags: [TAGS.ASTRO, TAGS.TAILWIND],
  },
  {
    title: "Proyecto Midas",
    description:
      "I developed a website for Proyecto Midas, an advertising company, using Astro for the structure, Tailwind CSS for the design, and React for interactive functionalities. I implemented an internal search engine using useState and useEffect hooks to enhance the user experience while navigating the content.",
    link: "https://proyectomidas.com/",
    github: "",
    image: "/projects/Midas.png",
    tags: [TAGS.ASTRO, TAGS.REACT, TAGS.TAILWIND],
  },
];
---

<article class="w-full justify-center">
  {
    PROJECTS.map(
      ({ image, title, description, credentials, tags, link, github }) => (
        <section class="flex flex-col md:flex-row justify-between items-center gap-6 md:gap-10 mb-4">
          <div class="text-primary-text dark:text-white md:w-[400px]">
            <h3 class="text-secondary dark:text-secondary-light text-xl font-semibold ">
              {title}
            </h3>
            <ul class="flex flex-wrap mb-2 gap-x-2">
              {tags.map((tag) => (
                <li>
                  <span
                    class={`my-2 flex gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2`}
                  >
                    <tag.icon class="size-4" />
                    {tag.name}
                  </span>
                </li>
              ))}
            </ul>
            <p class="text-sm dark:text-gray-300">{description}</p>
            {credentials && (
              <div class="mt-2 p-2 bg-secondary/10 dark:bg-secondary/20 rounded-lg border border-secondary/20">
                <p class="text-sm font-medium text-secondary dark:text-secondary-light">
                  {credentials}
                </p>
              </div>
            )}
            <div class="flex flex-wrap gap-5">
              <SocialPill
                class={`
                bg-secondary dark:bg-secondary-dark
                rounded-lg
                flex justify-center items-center gap-x-2
                my-5
                py-1 px-2 md:py-2 md:px-4
                text-xs md:text-base
                text-white
                transition
                hover:bg-blue-500 
                hover:bg-opacity-25 
                hover:border-[#6e5494] 
                duration-300 
                ease
              `}
                href={link}
              >
                <Link class="size-4 md:size-6" />
                Demo
              </SocialPill>
              <SocialPill
                class={`
                bg-secondary dark:bg-secondary-dark
                rounded-lg
                flex justify-center items-center gap-x-2
                my-5
                py-1 px-2 md:py-2 md:px-4
                text-xs md:text-base
                text-white
                transition
                hover:bg-blue-500 
                hover:bg-opacity-25 
                hover:border-[#6e5494] 
                duration-300 
                ease
              `}
                href={github}
              >
                <GitHub class="size-4 md:size-6" />
                {!github ? "Privado" : "Code"}
              </SocialPill>
            </div>
          </div>
          <a
            href={link}
            target="_blank"
            class="group relative overflow-hidden rounded-lg border-2 shadow-lg hover:shadow-secondary dark:hover:shadow-white transition-all duration-500 w-full md:w-auto"
          >
            <img
              src={image}
              alt="project image"
              class="object-cover object-center w-full h-full transition-transform duration-1000 ease-in-out transform group-hover:scale-110 md:h-56"
            />
          </a>
        </section>
      ),
    )
  }
</article>
