---
import ReactJS from "./icons/NextJS.astro";
import AstroIcon from "./icons/AstroIcon.astro";
import Tailwind from "./icons/Tailwind.astro";
import SocialPill from "./SocialPill.astro";
import Link from "./icons/Link.astro";
import GitHub from "./icons/GitHub.astro";

const TAGS = {
  REACT: {
    name: "React",
    class: "bg-[#3498DB] text-white",
    icon: ReactJS,
  },
  ASTRO: {
    name: "Astro",
    class: "bg-black text-white",
    icon: AstroIcon,
  },
  TAILWIND: {
    name: "Tailwind",
    class: "bg-[#003159] text-white",
    icon: Tailwind,
  },
};
const PROJECTS = [
  {
    title: "GIFStickerSearching",
    description:
      "I developed a vibrant web gallery using React, Tailwind CSS, and the Giphy API to offer users a fun and visually appealing experience. The application allows users to explore a wide collection of GIFs and stickers, providing an intuitive interface to search, view, and download animated content easily.",
    link: "https://gif-stickers-searching.netlify.app/",
    github: "https://github.com/Alexcab24/GIFStickerSearching",
    image: "/projects/GifSearcher.png",
    tags: [TAGS.REACT, TAGS.TAILWIND],
  },
  {
    title: "InfoHeroes-Blog",
    description:
      '"InfoHeroes-Blog" is a web project that presents basic information about Marvel and DC superheroes in a comic-inspired design. Developed with Astro and Tailwind, it offers detailed character profiles with intuitive navigation. This project showcases my ability to effectively create themed websites.',
    link: "https://info-heroes-blog.netlify.app/",
    github: "https://github.com/Alexcab24/Info-heroes-blog",
    image: "/projects/Infoheroes.png",
    tags: [TAGS.ASTRO, TAGS.TAILWIND],
  },
  {
    title: "Proyecto Midas",
    description:
      "I developed a website for Proyecto Midas, an advertising company, using Astro for the structure, Tailwind CSS for the design, and React for interactive functionalities. I implemented an internal search engine using useState and useEffect hooks to enhance the user experience while navigating the content.",
    link: "https://proyectomidas.com/",
    github: "",
    image: "/projects/Midas.png",
    tags: [TAGS.ASTRO, TAGS.REACT, TAGS.TAILWIND],
  },
];

---

<article class="w-full justify-center">
  {
    PROJECTS.map(({ image, title, description, tags, link, github }) => (
      <section class="flex flex-col-reverse md:flex-row justify-between items-center gap-6 md:gap-10 mb-4">
        <div class="text-primary-text dark:text-white md:w-[400px]">
          <h3 class="text-secondary dark:text-secondary-light text-xl font-semibold ">{title}</h3>
          <ul class="flex flex-row mb-2 gap-x-2">
            {tags.map((tag) => (
              <li>
                <span
                  class={`my-2 flex gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2 `}
                >
                  <tag.icon class="size-4" />
                  {tag.name}
                </span>
              </li>
            ))}
          </ul>
          <p class="text-sm dark:text-gray-300">{description}</p>
          <div class="flex gap-5">
            <SocialPill
              class={`
                bg-secondary dark:bg-secondary-dark
                rounded-lg
                flex justify-center items-center gap-x-2
                my-5
                py-1 px-2 md:py-2 md:px-4
                text-xs md:text-base
                text-white
                transition
                hover:bg-blue-500 
                hover:bg-opacity-25 
                hover:border-[#6e5494] 
                duration-300 
                ease
              `}
              href={link}
            >
              <Link class="size-4 md:size-6" />
              Demo
            </SocialPill>
            <SocialPill
              class={`
                bg-secondary dark:bg-secondary-dark
                rounded-lg
                flex justify-center items-center gap-x-2
                my-5
                py-1 px-2 md:py-2 md:px-4
                text-xs md:text-base
                text-white
                transition
                hover:bg-blue-500 
                hover:bg-opacity-25 
                hover:border-[#6e5494] 
                duration-300 
                ease
              `}
              href={github}
            >
              <GitHub class="size-4 md:size-6" />
              {!github  ? 'Privado' : 'Code'}
            </SocialPill>
          </div>
        </div>
        <a href={link} target="_blank" class="group relative overflow-hidden rounded-lg border-2 shadow-lg hover:shadow-secondary dark:hover:shadow-white transition-all duration-500">
          <img
            src={image}
            alt="project image"
            class="object-cover object-center w-full h-full transition-transform duration-1000 ease-in-out transform group-hover:scale-110 md:h-56 "
          />
       
        </a>
      </section>
    ))
  }
</article>
