---
import ReactJS from "./icons/NextJS.astro";
import Tailwind from "./icons/Tailwind.astro";
import Firebase from "./icons/Firebase.astro";
import SocialPill from "./SocialPill.astro";
import Download from "./icons/Download.astro";

const TAGS = {
  REACT: {
    name: "React",
    class: "bg-[#3498DB] text-white",
    icon: ReactJS,
  },
  FIREBASE: {
    name: "Firebase",
    class: "bg-[#9A7D0A] text-white",
    icon: Firebase,
  },
  TAILWIND: {
    name: "Tailwind",
    class: "bg-[#003159] text-white",
    icon: Tailwind,
  },
};
const PROJECTS = [
  {
    title: "GIFStickerSearching",
    description:
      "Desarrollé una vibrante galería web utilizando React, Tailwind CSS y la API de Giphy para ofrecer a los usuarios una experiencia divertida y visualmente atractiva. La aplicación permite explorar una amplia colección de GIFs y stickers, ofreciendo una interfaz intuitiva para buscar, ver y descargar contenido animado de manera sencilla.",
    link: "https://svgl.vercel.app/",
    github: "https://github.com/pheralb/svgl",
    image: "/projects/GifSearcher.png",
    tags: [TAGS.REACT, TAGS.TAILWIND],
  },
  {
    title: "Tic Tac Tioe - Multiplayer",
    description:
      "Desarrollé un emocionante juego de 'Tic Tac Toe' (Tres en línea) con funcionalidad multijugador en línea. Utilicé React para construir la interfaz de usuario, Firebase para gestionar y almacenar los datos de los jugadores, y Redux Toolkit para mantener un estado global fluido y eficiente.",
    link: "https://svgl.vercel.app/",
    github: "https://github.com/pheralb/svgl",
    image: "/projects/tictactoe.jpg",
    tags: [TAGS.REACT, TAGS.FIREBASE],
  },
];
---

<article class="w-full justify-center">
  {
    PROJECTS.map(({ image, title, description, tags, link, github }) => (
      <section class="flex justify-between items-center gap-6 md:gap-10 mb-4">
        <div class="text-primary-text md:w-[400px]">
          <h3 class="text-secondary text-xl font-semibold ">{title}</h3>
          <ul class="flex flex-row mb-2 gap-x-2">
            {tags.map((tag) => (
              <li>
                <span
                  class={`my-2 flex gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2 `}
                >
                  <tag.icon class="size-4" />
                  {tag.name}
                </span>
              </li>
            ))}
          </ul>
          <p class="text-sm">{description}</p>
          <div class="flex gap-5">
            <SocialPill
              class={`
          bg-secondary
            rounded-lg
            flex justify-center items-center gap-x-2
            my-5
            py-1 px-2 md:py-2 md:px-4
            text-xs md:text-base
            text-white
            transition
            hover:bg-blue-500 
            hover:bg-opacity-25 
            hover:border-[#6e5494] 
            duration-300 
            ease
           
          `}
              href="https://github.com/Alexcab24"
            >
              <Download class="size-4 md:size-6" />
              Demo
            </SocialPill>
            <SocialPill
              class={`
          bg-secondary
            rounded-lg
            flex justify-center items-center gap-x-2
            my-5
            py-1 px-2 md:py-2 md:px-4
            text-xs md:text-base
            text-white
            transition
            hover:bg-blue-500 
            hover:bg-opacity-25 
            hover:border-[#6e5494] 
            duration-300 
            ease
           
          `}
              href="https://github.com/Alexcab24"
            >
              <Download class="size-4 md:size-6" />
              Code
            </SocialPill>
          </div>
        </div>
        <div>
          <img
            src={image}
            alt="project image"
            class="w-auto h-40 md:h-48 rounded-lg"
          />
        </div>
      </section>
    ))
  }
</article>
