---
import ReactJS from "./icons/NextJS.astro"
import Tailwind from "./icons/Tailwind.astro";
import Firebase from "./icons/Firebase.astro"

const TAGS = {
  REACT: {
    name: "React",
    class: "bg-[#1F618D] text-white",
    icon: ReactJS,
  },
  FIREBASE: {
    name: "Firebase",
    class: "bg-[#9A7D0A] text-white",
    icon: Firebase,
  },
  TAILWIND: {
    name: "Tailwind",
    class: "bg-[#003159] text-white",
    icon: Tailwind,
  }
}
const PROJECTS = [
  {
    title: "GIFStickerSearching",
    description:
      "Desarrollé una vibrante galería web utilizando React, Tailwind CSS y la API de Giphy para ofrecer a los usuarios una experiencia divertida y visualmente atractiva. La aplicación permite explorar una amplia colección de GIFs y stickers, ofreciendo una interfaz intuitiva para buscar, ver y descargar contenido animado de manera sencilla.",
    link: "https://svgl.vercel.app/",
    github: "https://github.com/pheralb/svgl",
    image: "/projects/GifSearcher.png",
    tags: [TAGS.REACT, TAGS.TAILWIND],
  },
  {
    title: "Tic Tac Tioe - Multiplayer",
    description:
      "Desarrollé un emocionante juego de 'Tic Tac Toe' (Tres en línea) con funcionalidad multijugador en línea. Utilicé React para construir la interfaz de usuario, Firebase para gestionar y almacenar los datos de los jugadores, y Redux Toolkit para mantener un estado global fluido y eficiente.",
    link: "https://svgl.vercel.app/",
    github: "https://github.com/pheralb/svgl",
    image: "/projects/tictactoe.jpg",
    tags: [TAGS.REACT, TAGS.FIREBASE],
  },
  

]
---

{
  PROJECTS.map(({ image, title, description, tags }) => (

<article class = 'm-5 '>
<div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
 
    <a href="#">
        <img loading="lazy" class="rounded-t-lg" src={image} alt="" />
    </a>
     <ul class="flex gap-x-2 flex-row ml-5 mt-5">
        {tags.map((tag) => (
          <li>
            <span
              class={`flex gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2 border border-white/10`}
            >
              <tag.icon class="size-4" />
              {tag.name}
            </span>
          </li>
        ))}
      </ul>
    <div class="p-5">
        <a href="#">
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">{title}</h5>
        </a>
        <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">{description}</p>
        <a href="#" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
            Read more
             <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
            </svg>
        </a>
    </div>
</div>
 </article>

  ))
}
