---
import ReactJS from "./icons/React.astro";
import AstroIcon from "./icons/AstroIcon.astro";
import Tailwind from "./icons/Tailwind.astro";
import SocialPill from "./SocialPill.astro";
import Link from "./icons/Link.astro";
import GitHub from "./icons/GitHub.astro";
import Nextjs from "./icons/NextJS.astro";
import Postgre from "./icons/Postgre.astro"
import Docker from "./icons/Docker.astro"
import Prisma from "./icons/Prisma.astro"

const TAGS = {
  REACT: {
    name: "React",
    class: "bg-[#3498DB] text-white",
    icon: ReactJS,
  },
  NEXTJS: {
    name: "Nextjs",
    class: "bg-black text-white",
    icon: Nextjs,
  },
  ASTRO: {
    name: "Astro",
    class: "bg-black text-white",
    icon: AstroIcon,
  },
  TAILWIND: {
    name: "Tailwind",
    class: "bg-[#003159] text-white",
    icon: Tailwind,
  },
  POSTGRESQL: {
    name: "PostgreSQL",
    class: "bg-blue-900 text-white",
    icon: Postgre
  },
  DOCKER: {
    name: "Docker",
    class: "bg-sky-900 text-white",
    icon: Docker
  },
  PRISMA: {
    name: "Prisma",
    class: "bg-slate-900 text-white",
    icon: Prisma
  }
};
const PROJECTS = [
{
    title: "Inventory System",
    description:
      "Desarrollé un Sistema de Inventario tipo SaaS multitenant que permite a las empresas gestionar sus productos, usuarios y proveedores de manera eficiente. Utilicé Next.js, Tailwind CSS, Prisma y PostgreSQL para crear una aplicación escalable y con un diseño moderno. Implementé filtrado avanzado, historial de movimientos y control de acceso por roles, asegurando una experiencia fluida y optimizada en Vercel.",
    link: "https://testcompany.inventary-app-test.lat/dashboard",
    github: "https://github.com/Alexcab24/GIFStickerSearching",
    image: "/projects/inventory-system.png",
    tags: [TAGS.NEXTJS, TAGS.TAILWIND, TAGS.POSTGRESQL, TAGS.DOCKER, TAGS.PRISMA],
  },
  {
    title: "InfoHeroes-Blog",
    description:
      '"InfoHeroes-Blog" es un proyecto web que presenta información básica sobre superhéroes de Marvel y DC en un diseño inspirado en cómics. Desarrollado con Astro y Tailwind, ofrece perfiles detallados de personajes con una navegación intuitiva. Este proyecto destaca mi habilidad para crear sitios web temáticos de manera efectiva.',
    link: "https://info-heroes-blog.netlify.app/",
    github: "https://github.com/Alexcab24/Info-heroes-blog",
    image: "/projects/Infoheroes.png",
    tags: [TAGS.ASTRO, TAGS.TAILWIND],
  },
  {
    title: "Proyecto Midas",
    description:
      "Desarrollé una página web para Proyecto Midas, una empresa publicitaria, utilizando Astro para la estructura, Tailwind CSS para el diseño y React para funcionalidades interactivas. Implementé un buscador interno usando los hooks useState y useEffect para mejorar la experiencia del usuario al navegar por el contenido.",
    link: "https://proyectomidas.com/",
    github: "",
    image: "/projects/Midas.png",
    tags: [TAGS.ASTRO, TAGS.REACT, TAGS.TAILWIND],
  },
];
---

<article class="w-full justify-center">
  {
    PROJECTS.map(({ image, title, description, tags, link, github }) => (
      <section class="flex flex-col-reverse md:flex-row justify-between items-center gap-6 md:gap-10 mb-4">
        <div class="text-primary-text dark:text-white md:w-[400px]">
          <h3 class="text-secondary dark:text-secondary-light text-xl font-semibold ">
            {title}
          </h3>
          <ul class="flex flex-row mb-2 gap-x-2">
            {tags.map((tag) => (
              <li>
                <span
                  class={`my-2 flex gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2 `}
                >
                  <tag.icon class="size-4" />
                  {tag.name}
                </span>
              </li>
            ))}
          </ul>
          <p class="text-sm dark:text-gray-300">{description}</p>
          <div class="flex gap-5">
            <SocialPill
              class={`
                bg-secondary dark:bg-secondary-dark
                rounded-lg
                flex justify-center items-center gap-x-2
                my-5
                py-1 px-2 md:py-2 md:px-4
                text-xs md:text-base
                text-white
                transition
                hover:bg-blue-500 
                hover:bg-opacity-25 
                hover:border-[#6e5494] 
                duration-300 
                ease
              `}
              href={link}
            >
              <Link class="size-4 md:size-6" />
              Demo
            </SocialPill>
            <SocialPill
              class={`
                bg-secondary dark:bg-secondary-dark
                rounded-lg
                flex justify-center items-center gap-x-2
                my-5
                py-1 px-2 md:py-2 md:px-4
                text-xs md:text-base
                text-white
                transition
                hover:bg-blue-500 
                hover:bg-opacity-25 
                hover:border-[#6e5494] 
                duration-300 
                ease
              `}
              href={github}
            >
              <GitHub class="size-4 md:size-6" />
              {!github ? "Privado" : "Code"}
            </SocialPill>
          </div>
        </div>
        <a
          href={link}
          target="_blank"
          class="group relative overflow-hidden rounded-lg border-2 shadow-lg hover:shadow-secondary dark:hover:shadow-white transition-all duration-500"
        >
          <img
            src={image}
            alt="project image"
            class="object-cover object-center w-full h-full transition-transform duration-1000 ease-in-out transform group-hover:scale-110 md:h-56 "
          />
        </a>
      </section>
    ))
  }
</article>
